/* contributors styles =========================================== */
.contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}
.contributor {
  text-decoration: none;
  text-align: center;
  margin: 0 0.5rem;
  color: #777;
  transition: 0.5s;
}
.contributor:hover {
  transform: scale(1.2);
}
.contributor__avatar {
  width: 100%;
  width: 3em;
  border-radius: 50%;
}

.contributor__name {
  text-align: center;
}
/* =============================================================== */
