.App-header {
  text-align: center;
  background-color: #222;
  padding: 3em;
  color: white;
  margin-bottom: 2em;
}

.App-title {
  font-size: 2em;
}

.text-block {
  margin: 5em 0em 5em 25em;
}
footer{
  text-align: center;
  background-color: #222;
  color: white;
  width:100%;
  padding:1.2em 0;
}

@media only screen and (max-width : 720px) {
  .text-block {
    margin: 0;
    text-align: center;
  }
}


